/*
========================================================================================
    Docker Configuration
========================================================================================
*/

docker {
    enabled = true
    userEmulation = true
    runOptions = '--gpus all'
}

process {
    container = 'strandweaver/strandweaver:0.1.0'
}
