/*
========================================================================================
    SLURM Configuration
========================================================================================
*/

process {
    executor = 'slurm'
    queue = 'general'
    
    // GPU processes use GPU partition
    withLabel: 'process_gpu' {
        queue = 'gpu'
        clusterOptions = '--gres=gpu:1 --constraint=v100'
        accelerator = 1, type: 'nvidia-tesla-v100'
    }
    
    // High memory processes use high-mem partition
    withLabel: 'process_high_memory' {
        queue = 'highmem'
    }
}

executor {
    name = 'slurm'
    queueSize = 50
    submitRateLimit = '10 sec'
}
